---
import Base from '../layouts/Base.astro';

const identity = {
  firstName: 'Doug',
  occupation: 'Information Technology',
  hobbies: [
    'Web Development',
    'Music Production',
    'Content Creation',
    'Golfing',
    'Snowboarding',
  ],
  skills: ['HTML', 'CSS', 'JavaScript', 'Astro', 'NodeJS'],
};
---

<Base pageTitle="About">
  <h1>About</h1>
  <h3>Hi, my name is {identity.firstName}</h3>
  <ul>
    {identity.skills.map(skill => <li>{skill}</li>)}
  </ul>
</Base>
