---
import Base from "../layouts/Base.astro";
---

<Base pageTitle="Blog">
  <div class="container">
    <h1>Blog</h1>
    <nav>
      <ul>
        <li><a href="/posts/post-1">First Post!</a></li>
        <li><a href="/posts/post-2">Second Post!</a></li>
        <li><a href="/posts/post-3">Third Post!</a></li>
      </ul>
    </nav>
  </div>
</Base>
