---
// import { ClientRouter, fade, slide } from 'astro:transitions/client';

const { pageTitle } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Script&family=Nothing+You+Could+Do&family=Quicksand:wght@300..700&family=Sarpanch:wght@400;500;600;700;800;900&family=Sriracha&display=swap"
    rel="stylesheet"
  />
  <title>Doug's Thoughts - {pageTitle}</title>
</head>
