---
const { pageTitle } = Astro.props;
---

<nav class="nav__header" data-page-title={pageTitle}>
  <ul>
    {
      pageTitle !== 'Home' && (
        <li>
          <a href="/">Home</a>
        </li>
      )
    }
    <li class="nav-item"><a href="/about">About</a></li>
    <li class="nav-item"><a href="/blog">Blog</a></li>
  </ul>
</nav>

<style>
  .nav__header {
    ul {
      display: flex;
      align-items: center;
      gap: 4rem;

      li {
        display: block;

        a {
          position: relative;
          font-family: 'sriracha';
          text-decoration: none;
          color: black;
          font-size: 1.3rem;

          transition: color 150ms ease;

          &:hover {
            color: slategray;

            &::after {
              width: 100%;
            }
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;

            transition: width 215ms ease;
          }
        }
      }
    }
  }

  .nav__index {
    position: absolute;
    bottom: 0;
    left: 4rem;

    ul {
      display: flex;
      align-items: center;
      gap: 4rem;

      li {
        display: block;

        a {
          position: relative;
          font-family: 'sriracha';
          text-decoration: none;
          color: rgb(240, 230, 140);
          font-size: 1.7rem;
          text-shadow: 1px 1px 3px black;

          transition: text-shadow 215ms ease;

          &:hover {
            text-shadow: 0 0 2rem rgba(240, 230, 140, 0.75);

            &::after {
              width: 100%;
            }
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: rgb(240, 230, 140);

            transition: width 215ms ease;
          }
        }
      }
    }
  }
</style>

<script>
  const nav = document.querySelector('nav');

  if (nav?.dataset.pageTitle === 'Home') {
    nav.classList.add('nav__index');
    nav.classList.remove('nav__header');
  } else {
    nav?.classList.add('nav__header');
    nav?.classList.remove('nav__index');
  }
</script>
