---
import CommonHead from '../components/CommonHead.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <CommonHead pageTitle={pageTitle} />
  <body data-title={pageTitle}>
    <div class="wrapper">
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  body[data-title='Home'] {
    background-color: rgb(20, 20, 0);
  }

  .wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr;
  }
</style>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'quicksand';
  }

  .header-icon {
    width: 2.5rem;
  }

  .header-icon__link {
    color: black;

    transition: color 150ms ease;

    &:hover {
      color: slategray;
    }
  }
</style>
